.s-hero {
  width: 100%;
  height: 70rem;
  background: url(../img/background.svg) no-repeat center center;
  padding-top: 17.5rem;
  .text {
    display: flex;
    align-items: center;
    color: white;
    font-family: "Inter" sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 150%;
    .btn-mini {
      margin-right: 1.2rem;
    }
  }
  .text-principal {
    max-width: 100%;
    width: 74rem;
    height: 12.4rem;
    margin-top: 3.4rem;
    p {
      max-width: 100%;
      width: 36.5rem;
      height: 5.4rem;
      color: white;
      font-family: "Inter" sans-serif;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 150%;
      margin-top: 2.4rem;
      margin-bottom: 5.5rem;
    }
  }

  @include responsive(1090px) {
    .text-principal {
      width: 60rem;

      h1 {
        font-size: 3.2rem;
      }
    }
  }

  @include responsive(991px) {
    justify-content: center;
    background: #1c1610;
    height: 77rem;

    .text {
      justify-content: center;
      .btn-mini {
        display: none;
      }
    }
    .text-principal {
      max-width: 100%;
      width: 82rem;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 5rem;
        justify-content: center;
        text-align: center;
      }
      p {
        margin-top: 6.4rem;
        margin-bottom: 6.4rem;
        width: 74rem;
        text-align: center;
      }
      .btn-transparent {
        display: block;
        margin: 0 auto;
      }
    }
  }

  @include responsive(480px) {
    background: #1c1610;
    padding-top: 14.5rem;
    height: 66rem;
    .text {
      margin-top: 0.5rem;
      justify-content: center;
      font-size: 1.5rem;
      .btn-mini {
        display: none;
      }
      .btn-transparent {
        display: block;
        margin: 0 auto;
      }
    }
    .text-principal {
      width: 36.6rem;
      height: 20.8rem;
      margin-top: 1.2rem;
      justify-content: center;
      h1 {
        font-size: 4rem;
        justify-content: center;
        text-align: center;
      }
      p {
        font-size: 1.6rem;
        text-align: center;
        margin-top: 1.6rem;
        margin-bottom: 4rem;
      }

      .btn-transparent {
        display: block;
        margin: 0 auto;
      }
    }
  }

  @include responsive(320px) {
    .text {
      text-align: center;
      margin-top: 0;
      justify-content: center;
      font-size: 1.4rem;
      span {
        p {
          font-size: 1.2rem;
        }
      }
    }
    .text-principal {
      font-size: 2.5rem;
    }
  }
}

.s-card {
  .container {
    margin-top: 8rem;

    .content {
      display: flex;
      justify-content: space-between;
      margin-bottom: 9rem;

      .left-area {
        margin-top: 10rem;
        margin-bottom: 17.3rem;
        height: 25rem;
        max-width: 62.4rem;
        display: flex;
        flex-wrap: wrap;
        gap: 6.8rem;

        .text-card {
          max-width: 25.9rem;
          .icon {
            position: relative;
            &::after {
              content: "";
              width: 1.5rem;
              height: 0.2rem;
              background-color: $yellow-brand;

              position: absolute;
              bottom: -1.5rem;
            }
          }
          h4 {
            font-weight: 500;
            margin-top: 3.3rem;
            margin-bottom: 1rem;
          }
          p {
            font-weight: 400;
            font-family: "Inter" sans-serif;
            font-size: 1.6rem;
            color: $gray-brand;
          }
        }
      }
      .right-area {
        margin-top: -24rem;

        img {
          position: relative;
          animation: cards 6s infinite;
        }
      }
    }
  }

  @include responsive(991px) {
    .container {
      h2 {
        text-align: center;
      }
      h3 {
        margin-top: 1.3rem;
        text-align: center;
      }
      .content {
        justify-content: center;
        align-items: center;
        .left-area {
          gap: 8.8rem;
          align-items: center;
          justify-content: center;
          .text-card {
            align-items: center;
            justify-content: center;
          }
        }
        .right-area {
          img {
            display: none;
          }
        }
      }
    }
  }

  @include responsive(587px) {
    .container {
      margin-bottom: 46rem;
    }
  }

  @include responsive(480px) {
    .container {
      margin-top: 7rem;
      h2 {
        font-size: 3.2rem;
      }
      h3 {
        margin-top: 0.4rem;
        font-size: 2.4rem;
      }
      .content {
        .left-area {
          gap: 5.8rem;
          margin-top: 6rem;
          margin-bottom: 15rem;
          .text-card {
            h4 {
              margin-top: 2.3rem;
              text-align: center;
            }
            p {
              text-align: center;
            }
            .icon {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

.s-bank {
  background-color: #fafafa;
  height: 77.4rem;
  .container {
    padding-top: 8rem;
    .top {
      margin-top: 0.8rem;
      display: flex;
      justify-content: space-between;
      .buttons {
        margin-top: 2rem;
        border: 1px solid #c4c4c4;
        border-radius: 12rem;
        padding: 0.8rem;
      }
    }
    .main-area {
      background: linear-gradient(98.6deg, #020302 7.61%, #242424 96.26%);
      width: 100%;

      border-radius: 1.2rem;
      margin-top: 8.7rem;
      display: flex;

      .left-area {
        padding-top: 9.7rem;
        padding-left: 10.3rem;
        h3 {
          color: white;
          font-weight: 600;
          font-size: 2.4rem;
          width: 24rem;
        }
        p {
          margin-top: 1.6rem;
          font-family: "Inter" sans-serif;
          color: white;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 150%;
          line-height: 2.4rem;
          width: 34.1rem;
        }
        .icon {
          display: flex;
          margin-top: 4.4rem;
          align-items: center;
          img {
            display: block;
            max-width: 100%;
          }
          span {
            font-family: "Inter" sans-serif;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 150%;
            color: #fff;
            margin-left: 1.6rem;
          }
        }
      }

      .right-area {
        position: relative;
        width: 49.6rem;
        height: 44.8rem;
        margin-right: 13.6rem;
        .card-black {
          position: absolute;
          top: -18%;
          z-index: 2;
          right: 1px;
          max-width: 46.3rem;
          animation: floatingIphone 6s infinite;
        }
        .iphone {
          max-width: 49.6rem;
          position: absolute;
          bottom: 0rem;
          left: 7.5rem;
          z-index: 1;
          animation: floatingIphone 8s infinite;
        }
        .logo-business {
          position: absolute;
          bottom: 7.3rem;
          right: -17.2rem;
        }
      }
    }
  }

  @include responsive(1062px) {
    .container {
      .main-area {
        .right-area {
          .logo-business {
            display: none;
          }
        }
      }
    }
  }

  @include responsive(1024px) {
    .container {
      .top {
        .buttons {
          max-width: 46.2rem;
          .btn-black {
            font-size: 1.5rem;
            padding: 1.3rem 4.2rem;
          }
          .btn-white {
            margin-left: 0;
            padding: 1.3rem 1.2rem;
          }
        }
      }
    }
  }

  @include responsive(795px) {
    .container {
      .top {
        flex-direction: column;
        .text {
          text-align: center;
          margin-bottom: 4rem;
        }
        .buttons {
          margin: 0 auto;

          .btn-black {
            font-size: 1.2rem;
            padding: 1.3rem 4.2rem;
          }
          .btn-white {
            font-size: 1.2rem;
            margin-left: 0;
            padding: 1.3rem 1.2rem;
          }
        }
      }
      .main-area {
        height: 37.4rem;
        margin-top: 7.7rem;
        .left-area {
          padding-left: 2.3rem;
        }
        .right-area {
          .card-black {
            top: -11%;
            right: -129px;
            max-width: 41.3rem;
          }
          .iphone {
            max-width: 38.6rem;
            bottom: 7.4rem;
            left: -3.5rem;
          }
        }
      }
    }
  }

  @include responsive(768px) {
    .container {
      .main-area {
        .right-area {
          .iphone {
            left: 4.5rem;
          }
        }
      }
    }
  }

  @include responsive(587px) {
    .container {
      padding: -1px 15px;
    }
  }

  @include responsive(480px) {
    .container {
      margin-top: 6.9rem;
      margin: 0 auto;
      .top {
        .text {
          h2 {
            font-size: 3.2rem;
          }
          h3 {
            font-size: 2.4rem;
          }
        }
      }
      .main-area {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        .left-area {
          width: 100%;
          padding-left: 0;
          margin-top: 6.4rem;
          margin-left: 0;
          padding-top: 0;
          h3 {
            width: 100%;
            text-align: center;
          }
          p {
            text-align: center;
            width: 100%;
          }
          .icon {
            width: 100%;
            justify-content: center;
          }
        }
        .right-area {
          margin-top: 14rem;
          height: 24.4rem;
          .card-black {
            top: -53%;
            right: 29%;
            width: 74%;
          }
          .iphone {
            position: absolute;
            bottom: 0px;
            width: 66%;
          }
        }
      }
    }
  }
}

@keyframes floatingIphone {
  0% {
    transform: translateX(0);
  }

  66% {
    transform: translateX(-15px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes cards {
  0% {
    transform: translateY(0);
  }

  66% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}
