@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin responsive($screeWidth) {
  @media (max-width: $screeWidth) {
    @content;
  }
}
